DATABASE_URL=postgresql://boattracker:changeme@db:5432/boattracker
POSTGRES_USER=boattracker
POSTGRES_PASSWORD=changeme
POSTGRES_DB=boattracker

PORT=5000

MQTT_BROKER_URL=mqtt://98.191.147.191:1883
MQTT_USERNAME=boat_tracker
MQTT_PASSWORD=tbn123
MQTT_TOPIC=msh/US/#,msh/2/#,boats/#

SESSION_SECRET=change-this-to-a-random-string
COOKIE_SECURE=false
